<div class="top-bar">
  <div class="container">
    <div class="language">
      <span
        (click)="language = 1"
        [ngClass]="{ bold: language === 1 ? true : false }"
        >{{ language === 1 ? "English" : "Tiếng Anh" }}</span
      >
      /
      <span
        [ngClass]="{ bold: language === 2 ? true : false }"
        (click)="language = 2"
        >{{ language === 1 ? "Vietnamese" : "Tiếng Việt" }}</span
      >
    </div>
    <div class="menu-btn" (click)="topBarExpand = !topBarExpand">
      <span *ngIf="topBarExpand"><i class="fas fa-times"></i></span>
      <span *ngIf="!topBarExpand"><i class="fas fa-bars"></i></span>
      {{ language === 1 ? "Menu" : "Mục lục" }}
    </div>
  </div>
  <div
    class="dropdown"
    [ngClass]="{ show: topBarExpand ? topBarExpand : null }"
  >
    <div class="container">
      <span
        (click)="navigateToSection('about')"
        style="font-style: italic; font-weight: bold; font-size: 16px"
        >{{ language === 1 ? "About" : "Về Khán" }}</span
      >
      <span
        (click)="navigateToSection('exp')"
        style="font-style: italic; font-weight: bold; font-size: 16px"
        >{{ language === 1 ? "Experience" : "Kinh nghiệm" }}</span
      >
      <span
        (click)="navigateToSection('project')"
        style="font-style: italic; font-weight: bold; font-size: 16px"
        >{{ language === 1 ? "Projects" : "Dự án" }}</span
      >
      <span
        (click)="navigateToSection('contact')"
        style="font-style: italic; font-weight: bold; font-size: 16px"
        >{{ language === 1 ? "Contacts" : "Liên lạc" }}</span
      >
    </div>
  </div>
</div>
<div class="header">
  <div class="overlay">
    <div class="container">
      <div class="name">{{ language === 1 ? "Khan Pham" : "Khán Phạm" }}</div>
      <div class="loop-text" [ngClass]="{ 'long-txt': longLoopText }">
        {{ loopText }}
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="about-me" id="about">
    <div class="container lazy">
      <div>{{ language === 1 ? "About me" : "Giới thiệu" }}</div>
      <div>
        {{
          language === 1
            ? "I am a Software Developer with 2+ years experience specializing in frontend development. Interested in devising a better problem‐solving method for challenging tasks, and learning new technologies and tools if the need arises. On the other hand, I am a open-minded person with can-do attitude and i can communicate in English well enough."
            : "Là một lập trình viên với hơn 2 năm kinh nghiệm, đặc biệt với mảng front-end. Mình cực kì hứng thú với việc nghiên cứu nhiều công nghệ và công cụ lập trình mới và suy nghĩ về nhiều cách để cải tiến hoàn thiện phần mềm và quy trình phần mềm. Mình cũng là người có tinh thần cởi mở và tâm thế luôn sẵn sàng cho công việc, tiếng anh mình đủ tốt để có thể giao tiếp trong công việc."
        }}
        <br /><br />
        <b
          ><i
            >&nbsp; &nbsp; &nbsp;
            {{
              language === 1
                ? "People do not lack strength, they lack will"
                : "Ý chí là tất cả."
            }}</i
          ></b
        >
        <br />
        {{
          language === 1
            ? "I have the believe that all the problems in the world will be solved as long as you keep the positive mental attitude and a cold head"
            : "Mình tin rằng nếu có đủ ý chí và nghị lực, mọi vấn đề đều có thể giải quyết."
        }}
      </div>
    </div>
  </div>
  <div class="exp container" id="exp">
    <div class="text-center top-title">
      {{ language === 1 ? "Experiences" : "Kinh nghiệm" }}
    </div>
    <div class="company">
      <div
        class="icon lazy"
        style="background-image: url(./assets/sts.jpg)"
      ></div>
      <h4 class="company-name lazy">Saigon Technology Solution</h4>
      <h5 class="job-title lazy">Front-end Developer</h5>
      <div class="skills mt-3 mb-3 lazy">Skills: Angular2+</div>
      <div class="content lazy">
        {{ language === 1 ? "To be updated ..." : "Sẽ update sau..." }}
      </div>
      <div class="time lazy">
        {{ language === 1 ? "11/2021 - Now" : "11/2021 - Nay" }}
      </div>
    </div>
    <div class="company">
      <div
        class="icon lazy"
        style="background-image: url(./assets/fpt.png)"
      ></div>
      <h4 class="company-name lazy">FPT Software</h4>
      <h5 class="job-title lazy">Fullstack Software Developer</h5>
      <div class="skills mt-3 mb-3 lazy">
        Skills: Angular 8, NodeJs, ExpressJs, GraphQL, PostgresSQL, Microsoft
        SQL Server, Kafka
      </div>
      <div class="content lazy">
        {{
          language === 1
            ? "At Fsoft, I am in charge of developing a web application helping oil/gas engineers in their job. Generally, tasks including adding function, implement new feature, adjusting UI and fix bugs found from product owner/testers are my responsibilities. Presenting the demo of the project to the product owner by the end of each sprint."
            : "Tại Fsoft, mình tham gia phát triển phần mềm giúp các kỹ sư giàn khoan trong công việc của họ. Trách nhiệm của mình bao gồm phát triển và implement các tính năng mới, chỉnh sửa UI và sửa các lỗi được PO và tester tìm ra, tham gia vào các cuộc hợp đầu ngày, các buổi hợp demo"
        }}
      </div>
      <div class="time lazy">9/2020 - 11/2021</div>
    </div>
    <div class="company">
      <div
        class="icon lazy"
        style="background-image: url(./assets/dxc.jpg)"
      ></div>
      <h4 class="company-name lazy">DXC Technology Vietnam</h4>
      <h5 class="job-title lazy">Java Developer</h5>
      <div class="skills mt-3 mb-3 lazy">
        Skills: Java 8, Spring Boot, Angular 8, Elasticsearch
      </div>
      <div class="content lazy">
        {{
          language === 1
            ? "As a software developer at DXC, I am involved with maintaining and developing new features for the Java Spring/ Angular project in the insurance domain. Generally, tasks including adding function, integrating APIs with backend team, joining CI/CD progress with QC and DevOps team to improve product's quality, and fix bugs found from customers are my responsibilities."
            : "Là lập trình viên tại DXC, mình tham gia vào phát triển và bảo trì ứng dụng viết bằng Java Spring/Angular trong lĩnh vực bảo hiểm, tích hợp API với các bên thứ ba, tham gia quy trình CI/CD cùng đội QC và DevOps để đảm bảo chất lượng cho ứng dụng."
        }}
      </div>
      <div class="time lazy">10/2019 - 8/2020</div>
    </div>
    <div class="start-icon lazy"></div>
  </div>
  <div class="projects container" id="project">
    <h2 class="title">
      {{ language === 1 ? "Pet Projects" : "Dự án cá nhân" }}
    </h2>
    <h5 class="sub-title">
      {{ language === 1 ? "Cool outside work stuff" : "Ngoài lề công việc" }}
    </h5>
    <div class="content">
      <div class="naki mb-5">
        <h4 class="name lazy">Naki Handmade</h4>
        <div class="skills lazy">
          Skills: Angular 12, Typescript, Nodejs, Express, MongoDB, Jasmine
          Testing, Nginx, Digital Ocean
        </div>
        <div class="mt-3 mb-3 lazy" style="color: rgb(44, 62, 80)">
          {{
            language === 1
              ? "An application helps my brother to process his online business."
              : "Một website bán hàng nhỏ để giúp anh mình buôn bán online"
          }}
          <br />
          <a href="https://www.nakihandmade.com/" target="blank"
            >https://www.nakihandmade.com/</a
          >
        </div>
        <div class="lazy">
          <img src="./assets/naki.png" width="100%" />
        </div>
      </div>
      <div class="jobseeker mb-5">
        <h4 class="name lazy">Bootcareer</h4>
        <div class="skills lazy">
          Skills: React CRA, Typescript, Nodejs, Express, MongoDB, Redux
          Toolkit, Storybook, React Testing library, CircleCI, Netlify,
        </div>
        <div class="mt-3 mb-3 lazy" style="color: rgb(44, 62, 80)">
          {{
            language === 1
              ? "An application helps people from non‐traditional backgrounds and underrepresented communities to get jobs in tech."
              : "Jobseeker là một trang web để hỗ trợ sinh viên sắp ra trường, những người đang muốn chuyển ngành, và những người đang trong khu vực bị ảnh hưởng bởi covid 19 tại Mĩ"
          }}
          <br />
          <a href="https://bootcareer.com/" target="blank"
            >https://bootcareer.com/</a
          >
        </div>
        <div class="lazy">
          <img src="./assets/bootcareer.jpg" width="100%" />
        </div>
      </div>
      <div class="game">
        <h4 class="name lazy">Space Shooter</h4>
        <div class="skills lazy">Skills: Unity 2018, C#</div>
        <div class="mt-3 mb-3 lazy" style="color: rgb(44, 62, 80)">
          {{
            language === 1
              ? "A space shooter game that i made on free time when i was in college."
              : "Game bắn phi thuyền 2D mà mình làm trong thời gian rảnh khi còn là sinh viên."
          }}
          <br />
          <iframe
            width="100%"
            height="315"
            src="https://www.youtube.com/embed/iWWGk-iA6VA"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="lazy">
          <img src="./assets/game.png" width="100%" />
        </div>
      </div>
    </div>
  </div>
  <div class="contact" id="contact">
    <div class="container">
      <div
        style="
          padding: 15px;
          background-color: rgb(255, 167, 38);
          color: rgb(44, 62, 80);
          font-size: 35px;
          font-family: Georgia, Times, Times New Roman, serif;
        "
      >
        {{ language === 1 ? "Contact Info" : "Liên Lạc" }}
      </div>
      <div style="display: flex; padding: 0">
        <div style="flex-basis: calc(100% - 46px)">
          <div class="lazy" style="padding: 15px">
            {{
              language === 1
                ? "Want to get in touch? Don't hesitate to contact me!"
                : "Bạn muốn liên lạc với mình? Đừng ngại liên lạc nhé!"
            }}
          </div>
          <div style="padding: 0">
            <div style="padding-left: 0" class="lazy">
              <i class="fas fa-map-marker-alt"></i>
              <span style="margin-left: 15px">
                {{
                  language === 1
                    ? "Viet Nam, Binh Thanh District, Ho Chi Minh City"
                    : "Việt Nam, Quận Bình Thạnh, Tp.Hồ Chí Minh"
                }}</span
              >
            </div>
            <div style="padding-left: 0" class="lazy">
              <i class="far fa-envelope"></i>
              <a href="mailto:khanpham1995@gmail.com" style="margin-left: 15px"
                >khanpham1995@gmail.com</a
              >
            </div>
            <div style="padding-left: 0" class="lazy">
              <i class="fas fa-phone-alt"></i>
              <a href="tel:0934005370" style="margin-left: 15px">0934005370</a>
            </div>
          </div>
        </div>
        <div style="background-color: rgb(189, 195, 199); padding: 7px">
          <div
            style="
              background: none;
              padding: 0;
              font-size: 32px;
              margin-bottom: 15px;
            "
          >
            <a target="blank" href="https://www.facebook.com/kanguey.fam/"
              ><i class="fab fa-facebook"></i
            ></a>
          </div>
          <div style="background: none; padding: 0; font-size: 32px">
            <a target="blank" href="https://github.com/kanfamPK"
              ><i class="fab fa-github"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
